<div class="container">
  <app-handtracker
    #handTracker
	(prediction)="onPrediction($event)"
  ></app-handtracker>
</div>

<div *ngIf="album" class="row">
	<div class="row">
		<div class="col text-center">
			<h1>{{ album.name }}</h1>

    		<img id="albumImg" src="{{ album.imageURL }}" />
			<p *ngFor="let artist of album.artists">
				<!--DONE: link to artist page, display artist name-->
				Artist: <a routerLink="/artist/{{ artist.id }}" id="artist-page-link">{{ artist.name }}</a>
			</p>
			<p>
				<!--DONE: link to album page on spotify, display album name-->
				<a
				  class="btn btn-success"
				  role="button"
				  target="_blank"
				  href="{{ album.url }}"
				  id="view-album-spotify"
				  >Open {{ album.name }} on Spotify</a
				>
			  </p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<h3>Album Tracks</h3>
		<!--DONE: display the track list for the album. Hide the artist and album columns because they are redundant on this page.-->
		<app-track-list
		  [tracks]="tracks"
		  [hideArtist]="true"
		  [hideAlbum]="true"
		></app-track-list>
	</div>
</div>
