<div class="container">
  <app-handtracker
    #handTracker
    (prediction)="onPrediction($event)"
    [support]="'artist-page'"
  ></app-handtracker>
</div>

<div *ngIf="artist">
  <div class="row" id="artist-card">
    <div class="col text-center">
      <h1>{{ artist.name }}</h1>

      <img id="artistImg" src="{{ artist.imageURL }}" class="rounded" />
      <a
        href="{{ artist.url }}"
        class="d-block btn btn-success"
        role="button"
        target="_blank"
        id="view-artist-spotify"
        >View {{ artist.name }} on Spotify</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Genres</h3>
      <ul>
        <!--DONE: loop over artist's genres and display them-->
        <li *ngFor="let genre of artist.genres">{{ genre }}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>{{ artist.name }}'s Top Tracks</h3>
      <app-track-list [tracks]="topTracks"></app-track-list>
    </div>
  </div>
</div>

<div *ngIf="artist" class="row">
  <div class="col col-12 col-lg-6 py-2">
    <!--DONE: display artist name-->
    <h3>{{ artist.name }}'s Albums</h3>
    <!--DONE: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
    <app-carousel
      [resources]="albums"
      [carouselId]="artist.id + '-artists-albums'"
      id="artist-albums"
    ></app-carousel>
  </div>
  <div class="col col-12 col-lg-6 py-2">
    <h3>Similar Artists</h3>
    <!--DONE: Display a carousel component for similar artists. Bind carousel's resources and give it a static carouselId.-->
    <app-carousel
      [resources]="relatedArtists"
      [carouselId]="artist.id + '-related-artists'"
      id="similar-artists"
    ></app-carousel>
  </div>
</div>
